{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/accueil.css') }}">
{% endblock %}

{% block body %}

<div class="s1">
    <h1>Hello {{ controller_name }}!</h1>
</div>
{% endblock %}
